<h1>
検索結果
</h1>
<% if @results !=nil %>
   <% @results.each do |result| %>
   
   <%= video_tag(result.video_top.to_s,class:"content_post", :loop => true, :autoplay => true, :muted => true) %>
   <p><%= result.text %></p>
  <span class="name">
    <a href="/users/<%= result.user.id %>">
      <span>投稿者</span><%= result.user.nickname %>
    </a>
  </span>
  <br>
  <span>楽器：</span><%= result.instrument %>
  <br>
    <span>アーティスト名：</span><%= result.artist %>
    <span>曲名：</span><%= result.music %>

    <td>
      <% if current_user.already_liked?(result)%>
        <%= link_to movie_likes_path(result),method: :delete do %>
        <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to movie_likes_path(result),method: :post do %>
        <i class="far fa-heart"></i>
        <% end %>
      <%end%>
      <%= result.likes.count %>
    <td>
    <%end%>

 <% else %>
該当する商品はありません
<%= link_to "トップページへ戻る", root_path%>
 <% end %>