<h1 class="title-list">
検索結果
</h1>

<%= link_to 'ホームに戻る', root_path, class:"button home_return" %>


<% if @results !=nil %>
   <% @results.each do |result| %>
   <div class="card">
     <span class="name">
      <a href="/users/<%= result.user.id %>">
        <span>投稿者</span><%= result.user.nickname %>
      </a>
      </span>
      <div class="card-movie">
        <figure class="movie">
          <%= video_tag(result.video_top.to_s,class:"content_post", :loop => true, :autoplay => true, :muted => true) %>
        </figure>
      </div>
      <td>

      <div class=likes_class>
      <% if current_user.already_liked?(result)%>
        <%= link_to movie_likes_path(result),method: :delete do %>
        <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to movie_likes_path(result),method: :post do %>
        <i class="far fa-heart"></i>
        <% end %>
      <%end%>
      <%= result.likes.count %>
      <div class=likes_class>

      <div class="card-content">
        <p>#<%= result.text %></p>
        <br>
        <span>楽器：</span><%= result.instrument %>
        <br>
        <span>アーティスト名：</span><%= result.artist %>
        <br>
        <span>曲名：</span><%= result.music %>
      </div>
  </div>
  <%end%>

<% else %>
  該当する投稿はありません
  <%= link_to "トップページへ戻る", root_path%>
<% end %>