<h1 class="title-list">
投稿詳細
</h1>

<%= link_to 'ホームに戻る', root_path, class:"button home_return" %>


<div class="card m-4">
  <span class="name">
      <a href="/users/<%= @movie.user.id %>">
        <span>投稿者</span><%= @movie.user.nickname %>
      </a>
  </span>
  <div class="card-movie">
      <figure class="movie">
        <%= video_tag(@movie.video_top.to_s,class:"content_post", :loop => true, :autoplay => true, :muted => true) %>
      </figure>
  </div>
   
    <div class="tabs more_list">
   <ul>
     <% if user_signed_in? && current_user.id == @movie.user_id %>
       <li>
         <%= link_to '編集', edit_movie_path(@movie.id), method: :get, class: "button"%>
       </li>
       <li> 
         <%= link_to '削除', movie_path(@movie.id), method: :delete, class: "button"%> 
       </li>
     <% end %> 
   </ul>
  </div>

  <%if user_signed_in? %>
    
    <div class=likes_class>
    <% if current_user.already_liked?(@movie) %>
      <%= link_to movie_likes_path(@movie),method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to movie_likes_path(@movie),method: :create do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <%= @movie.likes.count %>
  <% else %>
     <i class="far fa-heart"></i>
     <%= @movie.likes.count %>
  <% end %>
  </div>

  
  
  <div class="card-content">
    <p>#<%= @movie.text %></p>
    
    <br>
    <span>楽器：</span><%= @movie.instrument %>
    <br>
      <span>アーティスト名：</span><%= @movie.artist %>
    <br>
      <span>曲名：</span><%= @movie.music %>
    <br>
  </div>

</div>
    <div class="container">
      <% if user_signed_in? %>
        <%= form_with(model: [@movie, @comment], local: true) do |form| %>
          <%= form.text_area :memo, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" ,class:"button is-primary"%>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>

    <div class="comments">
      <h4>コメント一覧</h4>
      <% @comments.each do |comment|%>
      <p>
        <strong><%= link_to comment.user.nickname,"/users/#{comment.user_id}" %>:</strong>
        <%=comment.memo %>
        <% if user_signed_in? && current_user.id == comment.user_id %>
      <a class="delete_comment_btn" rel="nofollow" data-method="delete" href="/movies/<%=comment.movie_id%>/comments/<%=comment.id%>">＜削除＞</a>
      <%# <%= link_to '削除', movie_comment_path(comment.movie_id), method: :delete %> 
      <%# なぜかcommentのID=4しか渡せないため不使用 %>
      <% end %>
      </p>
       
      <% end %>
      
    </div>


