  <div class="tabs">
  <ul>
    <li>
      <%= link_to 'フォロー', [@user,:followings] ,class:"button m-1"%>
    </li>
    <li>
      <%= link_to 'フォロワー', [@user,:followers] ,class:"button m-1"%>
    </li>
  
    <% if user_signed_in? && current_user != @user %>
      <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
        <li>
          <%= link_to 'フォロー解除', [@user, :follow], method: :delete ,class:"button m-1"%>
        </li>
      <% else %>
        <li>
          <%= link_to 'フォローする', [@user, :follow], method: :post,class:"button m-1" %>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>

<div class="user_show">
  <br>
    <span>ニックネーム：</span><%= @user.nickname %>
  <br>
    <span>活動エリア：</span><%= @user.prefecture.name %>
  <br>
    <span>楽器歴：</span><%= @user.history.name %>
  <br>
    <span>性別：</span><%= @user.gender.name %>
  <br>
    <span>年齢：</span><%= @user.age %>
  <br>
    <span>好きなジャンル：</span><%= @user.genre %>
  <br>
    <span>好きなアーティスト：</span><%= @user.artist %>
  <br>
</div>

<% if current_user != @user %>
  <%= link_to 'DMを送信する', user_chat_path(@user.id) %>
<% end %> 


     <ul class="more_list">
        <% if user_signed_in? && current_user.id == @user.id %>
          <li>
            <%= link_to '＜ユーザー情報を編集＞', edit_user_path(@user.id), method: :get %>
          </li>
        <% end %> 
     </ul>

<div class="contents row">
  <p><%= @user.nickname %>さんの投稿一覧</p>
  <% @movies.each do |movie| %>
    <%= render partial:"movies/movie",locals: {movie: movie}%>
  <% end %>
</div>