<header class='top-page-header'>
    <div class="tabs">
      <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to 'フォロー', [current_user,:followings] ,class:"button m-1"%>
        </li>
        <li>
          <%= link_to 'フォロワー', [current_user,:followers] ,class:"button m-1"%>
        </li>
      <ul>
      <% end %>

      <ul class='lists-right'>
        <% if user_signed_in? %>
         <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname",class:"button m-1"%></li> 
         <li><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "logout",class:"button m-1"%></li> 
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path , class: "login" ,class:"button m-1"%></li>
        <li><%= link_to '新規登録',  new_user_registration_path , class: "sign-up" ,class:"button m-1"%></li>
        <% end %>
      </ul>
    </div>
</header>