<%= link_to 'ホームに戻る', root_path, class:"button home_return" %>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.nickname %> さんとのダイレクトメッセージ</h2>

            

            <%= form_with model: @chat,url: user_chats_path do |f| %>
              <%= f.text_field :message %>
              <%= f.hidden_field :room_id %>
              <%= f.submit '送信'%>
            <% end %>

            <table class="message table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= current_user.nickname %></th>
                  <th style="text-align: right; font-size: 20px;"><%= @user.nickname %></th>
                </tr>
              </thead>

            <tbody id="chat_left_text">
              <% @chats.reverse_each do |chat| %>
                <% if chat.user_id == current_user.id %>
                  <tr>
                    <th>
                      <p style="text-align: left;"><%= chat.message %></p>
                        </th>
                        <th></th>
                       </tr>
                <% else %>
                  <tr>
                    <th></th>
                    <th>
                      <p style="text-align: right;"><%= chat.message %></p>
                    </th>
                  </tr>
                  <% end %>
              <% end %>
            </tbody>
            
            </table>
        </div>
    </div>
</div>